
$style: "animation";
.#{$style} {
    @include flex(center, center);
    &__container {
        @include flex(center, center);
        width: 550px;
        height: 550px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media($screen-iphone-5) {
            width: 270px;
            height: 270px;
        }
        @include media($screen-tablet-small) {
            width: 320px;
            height: 320px;
        }
        @include media($screen-desktop) {
            width: 350px;
            height: 350px;
            left: 25%;
        }
        @include media($screen-fullhd) {
            width: 450px;
            height: 450px;
            left: 25%;
        }
    &::before,
    &::after {
        content: '';
        width: 2px;
        height: 205px;
        background-color: $main-hover_color;
        position: absolute;
        z-index: 10;
        overflow: visible;
        animation: scroll-line-animation 5s infinite ease-in-out;
        @include media($screen-iphone-5) {
            width: 1px;
            height: 80px;
        }
        @include media($screen-tablet-small) {
            width: 1px;
            height: 110px;
        }
        @include media($screen-desktop) {
            width: 1px;
            height: 150px;
        }
        @include media($screen-fullhd) {
            width: 2px;
            height: 205px;
        }
    }
    &::before{  
        @include media($screen-iphone-5) {
            bottom: -25%;
        }
        @include media($screen-tablet-small) {
            bottom: -30px;
        }
        @media (min-width:600px) and (max-width:767px) {
            bottom: -30px;
        }
        @include media($screen-desktop) {
            bottom: -25%;
        }
        @include media($screen-fullhd) {
            bottom: -30%;
        }
    }
    &::after{
        @include media($screen-iphone-5) {
            top: -25%;
        }
        @include media($screen-tablet-small) {
            top: -30px;
        }
        @media (min-width:600px) and (max-width:767px) {
            top: -30px;
        }
        @include media($screen-desktop) {
            top: -25%;
        }
        @include media($screen-fullhd) {
            top: -30%;
        }
    }
    }
    &__logo {
        width: 390px;
        height: 390px;
        @include media($screen-iphone-5) {
            width: 150px;
            height: 150px;
        }
        @include media($screen-tablet-small) {
            width: 200px;
            height: 200px;
        }
        @include media($screen-desktop) {
            width: 250px;
            height: 250px;
        }
        @include media($screen-fullhd) {
            width: 300px;
            height: 300px;
        }
        @include media($screen-retina) {
            width: 350px;
            height: 350px;
        }
    }
    &__out {
        position: absolute;
        width: 548px;
        height: 548px;
        background-color:  rgba(255, 255, 255, 0.03);
        border-radius: 50%;
        animation: rotate2 20s -1s linear infinite;
        @include media($screen-iphone-5) {
            width: 270px;
            height: 270px;
        }
        @include media($screen-tablet-small) {
            width: 280px;
            height: 280px;
        }
        @include media($screen-desktop) {
            width: 380px;
            height: 380px;
        }
        @include media($screen-fullhd) {
            width: 450px;
            height: 450px;
        }
        @include media($screen-retina) {
            width: 560px;
            height: 560px;
        }
    }
    &__out:before,
    &__out:after {
        content: "";
        border-radius: 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: center center;
        background-color:  rgba(255, 255, 255, 0.03);
        border-radius: 50%;
        animation: rotate2 50s -1s linear infinite;
    }
    &__out:before {
        width: 528px;
        height: 528px;
        @include media($screen-iphone-5) {
            width: 255px;
            height: 255px;
        }
        @include media($screen-tablet-small) {
            width: 270px;
            height: 270px;
        }
        @include media($screen-desktop) {
            width: 360px;
            height: 360px;
        }
        @include media($screen-fullhd) {
            width: 440px;
            height: 440px;
        }
        @include media($screen-retina) {
            width: 540px;
            height: 540px;
        }
    }
    &__out:after {
        width: 528px;
        height: 528px;
        @include media($screen-iphone-5) {
            width: 240px;
            height: 240px;
        }
        @include media($screen-tablet-small) {
            width: 250px;
            height: 250px;
        }
        @include media($screen-desktop) {
            width: 340px;
            height: 340px;
        }
        @include media($screen-fullhd) {
            width: 425px;
            height: 425px;
        }
        @include media($screen-retina) {
            width: 520px;
            height: 520px;
        }
    }
    &__in-img {
        @include media($screen-iphone-5) {
            width: 190px;
            height: 180px;
        }
        @include media($screen-tablet-small) {
            width: 210px;
            height: 200px;
        }
        @include media($screen-desktop) {
            width: 300px;
            height: 290px;
        }
        @include media($screen-fullhd) {
            width: 350px;
            height: 340px;
        }
        @include media($screen-retina) {
            width: 390px;
            height: 360px;
        }
    }
    &__in {
        position: absolute;
        top: 0%;
        right: 0%;
        border-radius: 50%;
        animation: rotate1 30s -1s linear infinite;
        margin-left: 0;
        width: 390px;
        height: 390px;
        border-radius: 50%;
        @include media($screen-iphone-5) {
            width: 170px;
            height: 170px;
            top: 15%;
            right: 20%;
        }
        @include media($screen-tablet-small) {
            width: 220px;
            height: 220px;
            top: 10%;
            right: 15%;
        }
        @include media($screen-desktop) {
            width: 270px;
            height: 270px;
            top: 10%;
            right: 10%;
        }
        @include media($screen-fullhd) {
            width: 350px;
            height: 350px;
            top: 10%;
            right: 8%;
        }
        @include media($screen-retina) {
            width: 400px;
            height: 400px;
            top: 0;
            right: 10%;
        }
    }
    
    &__in--btn {
        @include flex(center, center);
        @include media($screen-iphone-5) {
            width: 30px;
            height: 30px;
            top: -2px;
            left: -2px;
        }
        @include media ($screen-tablet-small) {
            width: 35px;
            height: 35px;
            top: -4px;
            left: -4px;
        }
    }
    &__in--btn:before {
        width: 48px;
        height: 48px;
        border: 1px solid $white;
        @include media($screen-iphone-5) {
            width: 25px;
            height: 25px;
        }
        @include media-max-width ($screen-tablet-small) {
            width: 30px;
            height: 30px;
        }
    }
    &__in--btn:after {
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        @include media($screen-iphone-5) {
            width: 20px;
            height: 20px;
        }
        @include media-max-width ($screen-tablet-small) {
            width: 25px;
            height: 25px;
        }
    }
    &--btn:hover {
        path {
            fill: #E0AFBC;
        }
    }
    &--btn {
        width: auto;
        height: auto;
        top: -10px;
        left: 0;
        &::before,
        &::after {
            content: '';
            width: 0;
            height: 0;
        }
        @include media-max-width ($screen-tablet-small) {
            top: -10px;
            left: -10px;
        }
    }
    
}

@keyframes rotate1 {
    0% {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        transform: rotateZ(-180deg) scaleX(0.75) scaleY(0.90);
    }
    100% {
        transform: rotateZ(-360deg) scaleX(1) scaleY(1);
    }
}

@keyframes rotate2 {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
      }
      25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
      }
      50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
      }
      75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
      }
      100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
      }
    }
