@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
    font-family: 'HelveticaNeue';
    src: 
        url('../assets/fonts/HelveticaNeue\ Regular.ttf')  format('truetype');
}


$main-color: #171717;
$main-hover_color: #E0AFBC;
$white: #FFFFFF;
$boredr-color: #E0E0E0;
$active-color: #BDBDBD;
$btn-color: #646464;


$link-size: 15px;
$btn-size: 16px;
$link-size_fullhd: 13px;
$scroll-size: 12px;
$m-size: 8px;


$main-font: 'Open Sans', sans-serif;
$phone-font: 'HelveticaNeue', sans-serif;